@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --font-body: Manrope;
  --font-title: Anton;

  --color-main-bg: #ededed;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-secondary: #1b1b1b;
  --color-primary: #ffd15b;
  --color-border: #c6c6c6;
  --color-grey: #7a7a7a;
}

.text-h1 {
  @apply text-[44px] font-title;
}
.text-h3 {
  @apply text-[18px] font-title;
}

.text-body1 {
  @apply text-base font-body;
}
.text-body2 {
  @apply text-sm font-body;
}
.text-body3 {
  @apply text-xs font-body;
}
.button-base {
  @apply rounded-[10px] p-3 overflow-hidden relative cursor-pointer bg-transparent text-dark stroke-dark;

  &::before {
    @apply w-full h-full bg-primary rounded-[10px];

    position: absolute;
    z-index: 0;
    content: "";
    top: 0;
    left: 0;
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  &::after {
    @apply w-full h-full bg-secondary rounded-[10px];

    position: absolute;
    z-index: 0;
    content: "";
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  svg {
    * {
      @apply text-inherit stroke-inherit;
    }
  }

  &.contained {
    @apply pl-[18px] py-[17px] pr-0 min-w-[100px];
    span {
      @apply relative z-1 mr-[18px];
      user-select: none;
    }
  }
  &:hover {
    @apply text-light stroke-light;

    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 0;
    }

    .end-adornment {
      * {
        @apply text-light stroke-light;
      }
    }
  }

  &:active {
    @apply text-dark stroke-dark;

    &::after {
      opacity: 0;
    }
    &::before {
      opacity: 1;
    }
    .end-adornment {
      * {
        @apply text-dark stroke-dark;
      }
    }
  }
  &.not-active {
    &:active {
      @apply text-light stroke-light;

      &::after {
        opacity: 1;
      }
      &::before {
        opacity: 0;
      }
      .end-adornment {
        * {
          @apply text-dark stroke-dark;

          &::after {
            opacity: 0;
            z-index: 1;
          }
          &::before {
            opacity: 1;
            z-index: 1;
          }
        }
      }
    }
  }

  &.secondary {
    svg {
      * {
        @apply text-light stroke-light;
      }
    }
    &::before {
      @apply bg-secondary;
    }
    &::after {
      @apply bg-primary;
    }
    &:hover {
      * {
        @apply text-dark stroke-dark;
      }
    }
    &:active {
      * {
        @apply text-light stroke-light;
      }
    }
  }

  &.icon-button {
    @apply text-dark stroke-dark w-[52px] h-[52px];
    svg {
      @apply mx-auto;
    }

    &::before {
      @apply bg-light;
    }
    &::after {
      @apply bg-main-bg;
    }

    &.secondary {
      &::before {
        @apply bg-dark;
      }
      &::after {
        @apply bg-main-bg;
      }
    }

    &:active {
      &::before {
        @apply opacity-0;
      }
    }
  }

  &.sm {
    @apply p-2  w-[30px] h-[30px];
  }

  &.pill {
    @apply rounded-full w-[17px] h-[17px] p-0;
  }
  .end-adornment {
    @apply inline-block ml-[34px] mr-[10px];
  }
}
.chip-base {
  @apply rounded-[14px] px-[15px] py-[5px] text-sm font-body bg-dark bg-primary inline-block;

  &.secondary {
    @apply bg-secondary text-light;
  }
}
.icon {
  @apply relative z-1;

  &.dark {
    stroke: #000000;
    * {
      @apply stroke-inherit;
    }
  }
}
.input-base {
  @apply rounded-[11px];
  &.sm {
    @apply rounded-[2px];
  }
}
.search-input-base {
  @apply pl-[8px] flex items-center justify-between bg-light border border-border;
  input {
    @apply w-full bg-transparent outline-none text-sm h-[34px];
  }
  &.focused {
    @apply outline outline-1 outline-secondary;
  }
  .end-adornment {
    @apply flex gap-1 mx-[8px] relative;

    .clear-button {
      position: absolute;
      left: 0;
      top: 0;
      translate: -100% 0%;
    }
  }
}
.search-bar {
  @apply pl-[10px] w-[954px] border-none;

  input {
    @apply h-[72px]  text-base;
  }
  .end-adornment {
    @apply flex gap-1 mx-[8px] relative;

    .clear-button {
      position: absolute;
      left: -10px;
      top: 0;
      translate: -100% 0%;
    }
  }
}
.select-base {
  @apply relative rounded-t-[11px] rounded-b-[11px] bg-light text-dark block px-4 py-4 w-[195px];

  &.open {
    @apply rounded-b-[0px];

    .selected {
      svg {
        @apply rotate-180;
      }
      ~ .select-body {
        @apply block;
      }
    }
  }

  .selected {
    @apply flex items-center justify-between w-full cursor-pointer;

    svg {
      transition: rotate 0.2s ease-in-out;
    }
  }

  .select-body {
    @apply absolute top-full left-0 bg-light w-full rounded-b-[11px] pb-4 pt-0 z-10;
  }

  .selected-options {
    @apply flex gap-1 flex-col;

    & > :first-child {
      @apply mt-4;
    }
    & > :last-child {
      @apply mb-4;
    }

    .selected-option {
      @apply cursor-pointer px-4  py-2 w-full text-left bg-primary flex items-center justify-between;
    }
  }

  .options {
    @apply flex flex-col;

    .option {
      @apply cursor-pointer px-4 py-2 w-full text-left hover:bg-primary;
    }
  }
}

.recipe-card {
  @apply max-w-[380px] bg-light rounded-[21px] overflow-hidden;

  .recipe-image-container {
    @apply h-[253px] w-full relative;
    img {
      @apply object-cover w-full h-full;
    }
    div.chip-base {
      @apply absolute top-5 right-5;
    }
  }

  .recipe-content {
    @apply w-[330px] mx-auto mb-4;

    h3.text-h3 {
      @apply my-4;
    }

    h4.text-body3 {
      @apply my-4;
    }

    .ingredients-grid {
      @apply grid grid-cols-2 gap-4;
    }
  }
}
